div.filtr-container .filtr-item .panel {
    cursor: pointer;
}

div.filtr-container .filtr-item .panel-body {
    height: 145px;
    position: relative;
}

div.filtr-container .filtr-item .panel-footer {
    text-align: center;
    height: 55px;
}

div.filtr-container .filtr-item img {
    max-height: 90%;
    max-width: 90%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#brand-logo img {
    max-width: 100%;
}

.show-on-document-ready {
    display: none;
}