input.secureKeypadInput {
	max-width: 180px;
}

div.sk-keypad {
	max-width: 180px;
}

div.sk-keypad button.sk-btn-num{
	margin: 1px 0 0 1px;
	min-width: 44px;
}

div.sk-keypad button.sk-btn-del{
	margin: 1px 0 0 1px;
	min-width: 89px;
}